.header { padding: 2.3rem 0; background-color: $color_white;
    &__wrapper { @include wrapper; }

    &__logo { 
        &-link { display: flex; 
            svg { max-height: 3.8rem }
        }
    }
}