.slider {
    padding: 0 7rem;
    margin-top: 2.4rem;
    position: relative;

    @include bp($bp-portrait) {
        padding: 0 5rem; 
    }

    @include bp($bp-mobile-big) {
        padding: 0;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        padding-right: .3rem;
        position: absolute;
        top: calc(50% - 2.4rem);
        border-radius: 50%;
        cursor: pointer;

        @include bp($bp-mobile-big) {
            top: calc(100% + 1rem);
        }

        &--next {
            right: 0;
            transform: scaleX(-1);

            @include bp($bp-mobile-big) {
                right: 25%;
            }
        }

        &--prev {
            left: 0;

            @include bp($bp-mobile-big) {
                left: 25%;
            }
        }

        svg {  
            max-height: 2.5rem;

            @include bp($bp-portrait) {
                max-height: 2rem;
            }
        }

        &:hover,
        &:focus {
            background-color: rgba($color_white, .05);
        }

        @include bp($bp-portrait) {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    &--disabled-on-desktop {
        .slider__button { 
            @include bp((min: 1024px)) { display: none; }
        }
    }
}
