.slide {
    min-height: 22.8rem;
    height: auto;
    padding: 3.6rem 2.7rem;
    background-color: $color_white;
    color: $color_black_text;
    text-align: center;

    @include bp($bp-mobile-medium) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__heading {
        margin-bottom: 1.2rem;
    }

    &__text {
        font-size: $body_font_size;
        margin-bottom: 1.2rem;
    }

    &__icon { max-height: 5rem; }
}
