@mixin bp($map) {
	$query: "";
	@if map-has-key($map, min) {
		$query: append($query, "(min-width: #{map-get($map, min)})");
	}
	@if map-has-key($map, min) and map-has-key($map, max) {
		$query: append($query, "and");
	}
	@if map-has-key($map, max) {
		$query: append($query, "(max-width: #{map-get($map, max)})");
	}
	@media screen and #{$query} {
		@content;
	}
}
