/* https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L121 */
@mixin visually-hidden($focusable: false) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    
    @if ($focusable == true) {
        &.focusable {
            &:active,
            &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
                white-space: inherit;
            }
        }
    }
}
