@mixin wrapper($width: $wrapper_width) {
    max-width: $width + $wrapper_padding * 2;
    padding-left: $wrapper_padding;
    padding-right: $wrapper_padding;
    margin-left: auto;
    margin-right: auto;

    @include bp($bp-tablet) {
        padding-left: $wrapper_padding_tablet;
        padding-right: $wrapper_padding_tablet;
    }

    @include bp($bp-mobile-small) {
        padding-left: $wrapper_padding_mobile;
        padding-right: $wrapper_padding_mobile;
    }
}
