html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-size: $body_big_font_size;
    line-height: $body_line_height;
    font-family: $font_family;
    color: $color_black_text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;


    @include bp($bp-phablet) {
        font-size: 1.8rem;
    }
}

select,
input,
textarea,
select,
button {
    color: inherit;
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
svg {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

a,
button {
    color: $link_color;
    text-decoration: none;
    transition: 300ms;
    transition-property: color, border-color, background-color, opacity, transform;
    transition-timing-function: ease-out;

    &:hover,
    &:focus {
        //
    }
    &:link {
        -webkit-tap-highlight-color: transparent;
    }
}

::-moz-selection {
    background: $selection_bg;
    color: $selection_text;
    text-shadow: none;
}
::selection {
    background: $selection_bg;
    color: $selection_text;
    text-shadow: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.alignleft {
    float: left;
    margin: 0 3rem 3rem 0;
}
.alignright {
    float: right;
}

.visually-hidden {
    @include visually-hidden(true);
}

.wrapper {
    @include wrapper;
}

b,
strong {
    font-weight: 700;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
}