h1 {
    font-size: $h1_font_size;
    line-height: $h1_line_height;
}
h2 {
    font-size: $h2_font_size;
    line-height: $h2_line_height;
}
h3 {
    font-size: $h3_font_size;
    line-height: $h3_line_height;
}
// h4 { font-size: $h4_font_size; line-height: $h4_line_height; }
// h5 { font-size: $h5_font_size; line-height: $h5_line_heighte; }
// h6 { font-size: $h6_font_size; line-height: $h6_line_height; }
