$color_brand: #215398;
$color_blue: $color_brand;
$color_light_blue: #F1F6FC;
$color_black: #000;
$color_black_text: #2D3236;
$color_white: #fff;
$color_red: #FF3859;
$color_error: darken(#f00, 5%);
$color_success: darken(#0f0, 15%);

$selection_bg: lighten($color_brand, 15%);
$selection_text: $color_white;

$link_color: inherit;
$link_color_hover: $color_brand;

$rubik_font_family: 'Rubik';
$font_family: $rubik_font_family, 'Helvetica', 'Arial', sans-serif;

$h1_font_size: 4rem;
$h2_font_size: 3rem;
$h3_font_size: 2rem;
$body_font_size: 1.5rem;
$body_big_font_size: 2rem;


$h1_line_height: 1.3;
$h2_line_height: 1;
$h3_line_height: 1.185;
$body_line_height: 1.6;

$wrapper_width: 117.6rem;
$wrapper_padding: 5rem;
$wrapper_padding_tablet: 3.5rem;
$wrapper_padding_mobile: 2rem;

$z_index_over_all: 9999;
$z_index_modal: 100;
$z_index_header: 10;
$z_index_over_base: 5;
$z_index_base: 1;
$z_index_under_base: -1;

$duration_default: 250ms;
$duration_slow: 500ms;
$duration_fast: 150ms;

$transition_default: $duration_default ease-out;
$transition_slow: $duration_slow ease-out;
$transition_fast: $duration_fast ease-out;

$bp-mobile-small: (max: 359px);
$bp-mobile-medium: (max: 375px);
$bp-mobile-big: (max: 520px);
$bp-phablet: (max: 767px);
$bp-portrait: (max: 1023px);
$bp-tablet: (max: 1199px);
$bp-desktop-hd: (max: 1366px);
$bp-desktop-medium: (max: 1440px);
$bp-full-hd: (min: 1920px);
