@font-face {
    font-family: "Rubik";
    src: url("../fonts/subset-Rubik-Light.woff2") format("woff2"),
        url("../fonts/subset-Rubik-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
