.wp-block-group { padding: 5rem 0 6rem;
    @include bp($bp-mobile-big) { padding-bottom: 8rem; }

    &__inner-container {
        @include wrapper;

        > p { margin: .5rem 0 4rem; }
    }

    + .wp-block-group { position: relative;
        &:before { content: ''; display: block; width: 3.2rem; height: 3.2rem; position: absolute; top: -1.6rem; left: calc(50% - 1.6rem); background-color: $color_red; border-radius: 50%; box-shadow: 0px 4px 4px rgba($color_red, .2); }
    }
}